[defaults]
# Define paths for collections and roles
collections_paths = ./collections
roles_path = ./roles

# Use the inventory.yml file in this directory as our source of hosts
inventory = inventory.yml

# Disable host key checking. 
# This is convenient for lab environments but should be re-evaluated 
# for production use for security reasons.
host_key_checking = False

[privilege_escalation]
# By default, don't try to become root, as we connect with the root user
become = False